:root {
  --background: #191765;
  --text: #e4e3fa;
  --primary-1: #9490ff;
  --primary-2: #7d73fc;
  --primary-3: #4c47e6;
  --ff: 'Roboto', sans-serif;
  --aff: 'Inter', serif;
  --mb: 375px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: #c8c8d4;
  background-color: var(--background);
}

header {
  width: 100vw;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 2rem;
  background-color: transparent;
}

header a {
  margin-right: 15px;
}

.desktop--menu {
  display: none;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline--container {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:
    url(./assets/svg/Ellipse\ 18.svg),
    url(./assets/svg/Ellipse\ 19.svg);
  background-repeat: no-repeat;
  background-size: 22%, 32%;
  background-position: 0% -1%, 100% 66%;
}

.headline--title {
  width: 80%;
}

.headline--container h1 {
  width: auto;
  color: var(--primary-1);
  font-family: var(--ff);
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.37px;
  margin-bottom: 2rem;
}

.headline--container h2 {
  width: 81vw;
  padding-top: 1rem;
  color: var(--text);
  font-family: var(--aff);
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.headline--container .description {
  width: auto;
  margin-top: 7rem;
  padding-bottom: 4rem;
  border-bottom: solid 1px var(--text);
  font-family: var(--ff);
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  color: var(--text);
}

.skills--container {
  width: 80%;
  margin-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid 1px white;
}

.skills--item {
  width: 140px;
  margin-bottom: 3rem;
}

.bullet--icons {
  list-style: none;
}

.card--content > h3 {
  width: auto;
  margin: 20px 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.4rem;
}

.form--container > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #9490ff;
}

.skills--container li {
  width: 100px;
  font-size: 15px;
  padding-bottom: 1rem;
  color: aliceblue;
}

.skills--container li h3 {
  font-size: 12px;
  padding-bottom: 0.25rem;
  color: var(--primary-2);
}

.supporting-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.supporting-item-l {
  display: none;
}

.section--tittle .desktop--title {
  display: none;
}

.social--icons--container {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.supporting-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  position: static;
  width: 77px;
  height: 40px;
  left: 61.5px;
  top: 64px;
  margin: 40px 0;
}

/* Recent work section */

.recent--work--container {
  width: 100vw;
  background-image:
    url(./assets/img/Ellipse19@2x.png),
    url(./assets/img/Ellipse20@2x.png),
    url(./assets/img/Ellipse21@2x.png),
    url(./assets/img/Ellipse22@2x.png);
  background-repeat: no-repeat;
  background-size: 80%, 52%, 60%, 60%;
  background-position: 0% 6%, 108% 34%, 0% 64%, 101% 91%;
}

.section--tittle {
  width: auto;
  height: 145px;
  display: flex;
  justify-content: center;
}

.section--tittle .mobile--title {
  width: 87%;
  padding-bottom: 3rem;
  font-family: var(--ff);
  text-align: left;
  font-size: 4rem;
  color: var(--primary-1);
  line-height: 5.2rem;
  font-weight: 500;
  border-bottom: solid 1px white;
}

.cards--container-desktop {
  display: none;
}

.cards--container-mobile {
  width: auto;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
}

.recent--work--card {
  grid-column: 1/3;
  width: 327px;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.card--thumbnail {
  width: 327px;
  height: 236px;
}

.card--content {
  display: flex;
  flex-wrap: wrap;
  width: 324px;
}

.card--content p {
  width: 327px;
  height: 204px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: var(--text);
}

.card--content ul {
  list-style: none;
}

.tech--container {
  width: 100vw;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech--container li {
  font-family: var(--aff);
  font-size: 1.5rem;
}

.card--btn {
  font-family: 'Inter', sans-serif;
  width: 89px;
  height: 48px;
  background-color: var(--primary-2);
  border: none;
  cursor: pointer;
}

.card--btn:hover {
  background-color: #503458;
}

.form--container {
  width: 80%;
  margin: 5em;
}

.form--container > p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding-bottom: 1em;
}

form {
  margin: 0 auto;
  width: 80%;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  list-style: none;
  padding: 0;
  margin-top: 2em;
  color: #303036;
}

form > input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: none;
}

form > textarea {
  width: 100%;
  height: 148px;
  margin-top: 2em;
  box-sizing: border-box;
  border: none;
  color: #303036;
}

form > button {
  width: 89px;
  height: 48px;
  border: none;
  margin-top: 3em;
  background-color: var(--primary-2);
  cursor: pointer;
}

form > button:hover {
  background-color: #5e42d7;
}

form > input[type],
#msg {
  background-color: aliceblue;
  padding-left: 20px;
}

form > input[type]::placeholder,
#msg::placeholder {
  color: #3d3c46;
}

#msg {
  padding-top: 20px;
}

form > input:focus {
  outline: 0;
  border: 4px solid rgb(250, 37, 232);
}

form > textarea:focus {
  outline: 0;
  border: 4px solid rgb(250, 37, 232);
}

.footer--section hr {
  width: 100%;
  border-color: #615f5e;
}

.footer--section {
  width: 375px;
  padding-top: 2rem;
  border-top: solid 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons--footer{
  margin: 2rem 0;
}

.footer--email {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

/* Desktop Breakpoint */

@media screen and (min-width: 992px) {
  header {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: var(--background);
  }

  header a {
    transition-property: border-bottom, padding-bottom;
    transition-duration: 100ms, 100ms;
    transition-timing-function: linear, linear;
  }

  header > a {
    padding-left: 15rem;
  }

  .desktop--menu > a {
    font-size: 1.5rem;
    text-decoration: none;
  }

  header a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
  }

  header a img {
    animation: rotate-logo 1s linear;
  }

  @keyframes rotate-logo {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .header--menu--icon {
    display: none;
  }

  .desktop--menu {
    display: flex;
    align-items: center;
    padding-right: 15rem;
  }

  main {
    width: 100%;
  }

  .headline--container {
    margin-top: 11.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/img/TwoCircles.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 37% 14%;
  }

  .headline--title {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline--container h1 {
    width: auto;
    left: 0;
    top: 0;
    color: var(--primary-1);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9rem;
  }

  .headline--container h2 {
    font-size: 4rem;
    width: auto;
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  .headline--container .description {
    width: 55%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-top: 4rem;
    padding-bottom: 7rem;
  }

  .skills--container {
    width: 40vw;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .skills--item {
    width: 10rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }

  .supporting-item-container {
    width: 80vw;
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .social--icons--container {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .supporting-item-l {
    display: inline;
  }

  .supporting-item {
    display: inline;
    width: 77px;
    height: 40px;
    left: 61.5px;
    top: 64px;
    margin: 0;
  }

  .cards--container-mobile {
    display: none;
  }

  .cards--container-desktop {
    flex-direction: column;
    width: 80vw;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .recent--work--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    background-image: url(./assets/svg/Group\ 65.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mobile--title {
    display: none;
  }

  .section--tittle .desktop--title {
    display: inline-block;
    width: 80vw;
    align-self: baseline;
    padding-bottom: 3rem;
    font-family: var(--ff);
    text-align: left;
    color: var(--primary-1);
    font-size: 6.4rem;
    font-weight: 700;
    border-bottom: solid 1px white;
  }

  .recent--work--card {
    grid-column: 1/4;
    width: inherit;
    max-width: 1100px;
    padding-top: 2.5rem;
    padding-bottom: 8rem;
    display: flex;
  }

  .card--thumbnail {
    flex: 3;
  }

  .card--thumbnail:nth-child(odd) {
    margin-right: 3rem;
  }

  .card--thumbnail:nth-child(even) {
    margin-left: 3rem;
  }

  .card--thumbnail img {
    width: 100%;
    height: auto;
  }

  .card--thumbnail:hover {
    transform: scale(0.7);
  }

  .card--content {
    display: flex;
    flex-wrap: wrap;
  }

  .card--content p {
    width: 327px;
    height: 204px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: var(--text);
  }

  .card--content ul {
    list-style: none;
    font-family: 'Inter', sans-serif;
  }

  .tech--container {
    width: 345px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card--btn {
    font-family: 'Inter', sans-serif;
    width: 89px;
    height: 48px;
    background-color: var(--primary-2);
    border: none;
    cursor: pointer;
    transition: all 500ms linear;
  }

  .card--btn:hover {
    background-color: #503458;
  }

  .form--container {
    margin: 9rem 0;
  }

  .form--container > p {
    margin: 0 10%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-bottom: 1em;
  }

  form > button {
    transition: all 500ms linear;
  }

  input:hover,
  textarea:hover {
    transform: translate(10px);
    border: solid 3px var(--primary-1);
  }

  .footer--section {
    width: 100%;
    border-top: solid 1px white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem 0;
  }

  .footer--email {
    margin: 0;
    padding-left: 2rem;
  }
}
