* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

:root {
  --background: #191765;
  --text: #e4e3fa;
  --primary-1: #9490ff;
  --primary-2: #d58eeb;
  --primary-3: #9490ff;
}

body {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #c8c8d4;
  background-color: var(--background);
}

header {
  position: absolute;
  width: 375px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  padding-right: 15px;
}

main {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191765;
  background-image: url(./assets/img/TwoCircles.png);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position-x: -140px;
  background-position-y: 40px;
}

h1 h2 h3 h4 h5 h6 p {
  color: aliceblue;
}

.headline--container h2 {
  position: static;
  width: 327px;
  height: 87px;
  padding-top: 1rem;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.headline--container {
  width: 375px;
  left: 0;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-image: url(./assets/img/Ellipse19.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: 300px;
  background-position-y: 500px;
}

.headline--container h1 {
  margin-top: 100px;
  width: 327px;
  left: 0;
  top: 0;
  padding-top: 1rem;
  color: var(--primary-1);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
}

.headline--container .description {
  position: static;
  width: 327px;
  height: 170px;
  margin: 30px 0 20px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.devider {
  display: flex;
}

.devider img {
  width: 20rem;
}

.bullet--icons {
  list-style: none;
}

.skills--container {
  width: 300px;
  height: auto;
  padding: 40px 0 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills--item ul {
  width: 150px;
}

.card--content h3 {
  width: 327px;
  height: 105px;
  margin: 20px 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  padding-top: 2rem;
}

.skills--container li h3 {
  font-size: 12px;
  padding-bottom: 0.25rem;
  color: var(--primary-2);
}

.skills--container li {
  width: 100px;
  font-size: 15px;
  padding-bottom: 1rem;
  color: aliceblue;
}

.supporting-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.social--icons--container {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.supporting-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  position: static;
  width: 77px;
  height: 40px;
  left: 61.5px;
  top: 64px;
  margin: 40px 0;
}

/* Recent work section */

.section--tittle {
  height: 145px;
}

.section--tittle h2 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 40px;
  color: var(--primary-3);
  line-height: 52px;
  font-weight: 500;
  padding-left: 20px;
  padding-bottom: 24px;
}

.cards--container {
  width: 375px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  background-image:
    url(./assets/img/Ellipse19@2x.png),
    url(./assets/img/Ellipse19@2x.png);
  background-repeat:
    no-repeat,
    no-repeat;
  background-size: 70%, 70%;
  background-position-y: 80px, 150px;
}

.recent--work--card {
  grid-column: 1/3;
  width: 327px;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.card--thumbnail {
  width: 327px;
  height: 236px;
}

.card--content {
  display: flex;
  flex-wrap: wrap;
  width: 324px;
}

.card--content p {
  width: 327px;
  height: 204px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: var(--text);
}

.card--content ul {
  list-style: none;
  font-family: 'Inter', sans-serif;
}

.tech--container {
  width: 345px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--btn {
  font-family: 'Inter', sans-serif;
  width: 89px;
  height: 48px;
  background-color: var(--primary-2);
  border: none;
}

.form--container {
  width: 80%;
  margin: 5em;
  
}

.form--container > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1em;
}

.form--container > h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  padding-bottom: 1em;
  color: #9490ff;
}

.form--container > p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding-bottom: 1em;
}

form {
  margin: 0 auto;
  width: 80%;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  list-style: none;
  padding: 0;
  margin-top: 2em;
  color: #303036;  
}

form > input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: none;
}

form > textarea {
  width: 100%;
  height: 148px;
  margin-top: 2em;
  box-sizing: border-box;
  border: none;
}

form > button {
  width: 89px;
  height: 48px;
  border: none;
  margin-top: 3em;
  background-color: #d58eeb;
}

form > input[type],
#msg {
  background-color: aliceblue;
  padding-left: 20px;
}

form > input[type]::placeholder,
#msg::placeholder {

  color:#3d3c46
}

#msg {
  padding-top: 20px;
}

